@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--O arquivo index.cshtml corresponde a uma página chamada Home no aplicativo Web, que é executado em um
        navegador da web-->
    <h1 class="display-4">Hello World!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
