@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!--A página de privacidade no navegador renderiza o texto que é definido no arquivo privacy.cshtml-->
<h1>@ViewData["Title"]</h1>

<p>This page is under construction as of @ViewData["TimeStamp"].</p>
